# Auto detect text files and perform LF normalization
* text=auto


# Whitespace rules
# normal (no trailing)
*.sql    whitespace=trailing-space,space-before-tab,cr-at-eol
*.txt    whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch  whitespace=-trailing-space eol=lf
*.diff   whitespace=-trailing-space eol=lf
